@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
* {
    box-sizing: border-box;
}
body{
    color: white;
    padding-bottom:30px;
    margin: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: "Poppins", sans-serif;
    background: #667db6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h2{
    color: white;
    font-weight: bold;
}

.generator-container{
    text-align: center;
    background-color: #23235B;
    box-shadow: 0px 2px 15px 11px rgb(26 26 26 / 20%);
    padding: 20px;
    width: 400px;
    max-width: 100%;
    position: absolute;
    left: 50%;
    top: 30%;
    margin-top: -100px; /* half of you height */
    margin-left: -200px; /* half of you width */
}
.pass-result{
    padding: 1.7rem;
}

.result{
    width: 100%;
    position: relative;
    color: white;
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 1rem 0 1rem 0;
}

.copy{
    font-size: 20px;
    position: absolute;
    top: 8px;
    right: 8px;
    height: 40px;
    width: 40px;
    border: none;
    outline: none;
    background-color:  #0082c8;
    color: white;
    cursor: pointer;
}

.settings{
    
}

.setting{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.generate{
    color: white;
    background-color: #0082c8;
    box-shadow: 0px 2px 15px 11px rgb(26 26 26 / 20%);
    border-radius: 2em;
    padding: 0.5rem; 
    border: none;
    outline: none;
    cursor: pointer;
}

.copy:disabled{
    background-color: #747474;
    color: black;
    cursor: not-allowed;
}

.generate:hover{
    background-color: #004063;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    
}